<div class="container">
	<% for result in @results do %> 
		<div class="row">
			<div class="col">
				<% if result[:html_to_embed] %>
					<%= result[:html_to_embed].html_safe %>
				<% end %>
			</div>
			<div class="col">
				<div><%= "Food is #{result[:food]}" %></div>
				<div><%= "Soup is #{result[:soup]}" %></div>
				<div><%= "Sandwich is #{result[:sandwich]}" %></div>
				<div><%= "Salad is #{result[:salad]}" %></div>
			</div>
		</div>
	<% end %> 
</div>